<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новая организация</title>
</head>
<body>
    <section>
        <h1>
            Организация
        </h1>
    </section>
    <section>
            <div class="formView">
                <form th:action="@{/contacts/organizations/organizationCreateView}" method="post" th:object="${organization}">
                    <div class="input">
                        <input name="name" placeholder="Организация" th:field="*{name}">
                    </div>
                    <div class="input">
                        <input name="city" placeholder="город" th:field="*{city}">
                    </div>
                    <div class="input">
                        <input id="submitButton" type="submit"  value="Сохранить" />
                    </div>
                </form>
            </div>
    </section>
</body>
</html>