<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Журнал ремонта</title>
    <link rel="stylesheet" th:href="@{css/stylesMainView.css}" type="text/css"/>
</head>
<body>
<section>
    <div class="window_divs_in_row">
        <div>
            <button><a  th:href="@{/renter/renterView}">Оформить</a></button>
        </div>
    </div>

</section>
<section>
    <div class="window_divs_in_row">
        <div>
            <h1>
                На ремонт
            </h1>
            <div class="scrollWindow">

            </div>
        </div>
        <div>
            <h1>
                В работе
            </h1>
            <div class="scrollWindow">

            </div>
        </div>
        <div>
            <h1>
                К отгрузке
            </h1>
            <div class="scrollWindow">

            </div>
        </div>
        <div>
            <h1>
                Отгружено
            </h1>
            <div class="scrollWindow">

            </div>
        </div>
    </div>
</section>
</body>
</html>